<div id="footer">
	<div style="text-align: center;">
		<small>
			You are running Docket version <%= Docket::VERSION %>.

			<br />

			<div class="btn-group btn-group-sm">
			<a href="<%= Docket::GITHUB_URL%>" class="btn btn-default btn-sm btn-group-item"><i class="fa fa-lg fa-github"></i></a>

			<a href="<%= Docket::GITHUB_WIKI_URL%>" class="btn btn-default btn-sm btn-group-item"><i class="fa fa-lg fa-book"></i></a>
			</div>
		</small>
	</div>
</div>
