<div id="footer">
	<div style="text-align: center;">
		<small>
			You are running Docket version <%= Docket::VERSION %>.

			<br />

			<%= link_to "Github", Docket::GITHUB_URL, class: "link-no-underline" %>

			|

			<%= link_to "Wiki", "https://github.com/kotct/docket/wiki", class: "link-no-underline" %>
		</small>
	</div>
</div>
