<div id="footer">
	<div style="text-align: center;">
		<small>
			You are running Docket version <%= Docket::VERSION %>.

			<br />

			<%= link_to image_tag("GitHub-Mark-120px-plus.png",
				                  title: "View this project on GitHub",
				                  alt: "View this project on GitHub",
				                  height: 32,
				                  width: 32), Docket::GITHUB_URL %>

			|

			<b><%= link_to "Wiki", "https://github.com/kotct/docket/wiki", class: "link-no-underline" %></b>
		</small>
	</div>
</div>
