<div class="page-header">
	<h1>Editing course</h1>
</div>

<%= render 'form' %>

<div class="btn-group">
	<%= link_to 'Show', @course, class: "btn btn-primary" %>
	<%= link_to 'Back', courses_path, class: "btn btn-default" %>
</div>
