/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

/* prefix mixins */
@mixin browser-extensions($property, $values...) {
	-webkit-#{$property}: $values;
	   -moz-#{$property}: $values;
	    -ms-#{$property}: $values;
	     -o-#{$property}: $values;
	        #{$property}: $values;
}

@mixin background-gradient($from, $to) {
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}', GradientType=0)

}

body {
	padding: 40px;
	padding-top: 70px;
}

.page-header {
	margin-top: 0px;
}

.twitter-typeahead {
	.tt-query, .tt-hint {
		margin-bottom: 0;
	}
}

.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	@include browser-extensions(border-radius, 6px);
	@include browser-extensions(box-shadow, 0, 5px, 10px, rgba(0,0,0,.2));
	@include browser-extensions(background-clip, padding-box);
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;

	p {
		margin: 0;
	}

	&.tt-is-under-cursor {
		color: #fff;
		background-color: #0081c2;
		@include background-gradient(#0088cc, #0077b3);

		a {
			color: #fff;
		}
	}
}

.twitter-typeahead {
	.tt-hint {
		display: block;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		border: 1px solid transparent;
		border-radius:4px;
	}

	.hint-small {
		height: 30px;
		padding: 5px 10px;
		font-size: 12px;
		border-radius: 3px;
		line-height: 1.5;
	}

	.hint-large {
		height: 45px;
		padding: 10px 16px;
		font-size: 18px;
		border-radius: 6px;
		line-height: 1.33;
	}
}

.form-control {
	max-width: 512px;
}

.navbar > .container {
	width: auto;
}


/* Custom CSS Rules */
.link-no-underline:hover {
    text-decoration: none;
}

.hr-less-padding {
	margin-top: 8px;
	margin-bottom: 8px;
}

.panel-highlight {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.navbar-inverse {
	background-color: #303030;
	border-color: #101010;

	a, p, li {
		color: #a0a0a0;
	}

	a :hover {
		color: #f0f0f0;
	}
}

.text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.schedule-item {
	padding: 0px;
	display: flex;
}

.schedule-btn, .schedule-btn:hover, .schedule-btn:focus {
	border-radius: 0px;
	margin: 0px !important;
	border: 1px solid transparent;
}

.schedule-item-last-contents {
	display: flex;
	justify-content: space-between;
}

.schedule-btn:not(:first-child) {
	border-left-color: #cccccc;
}

.schedule-item.active .schedule-btn:not(:first-child) {
	border-left-color: #999999;
}

.schedule-btn:last-child {
	text-align: left;
	width: 100%;
}

.schedule-btn .label {
	padding: .5em .5em .2em .6em;
	border-radius: 4px;
}

.schedule-item.active .schedule-btn .label {
	background-color: #fff;
	color: #428bca;
}

.schedule-item.active {
	z-index: 2;
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

.schedule-item.active .btn {
	z-index: 2;
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

.navbar.navbar-fixed-top {
	padding-left: 40px;
	padding-right: 40px;
}

ul.navbar-nav > li:hover {
	margin-bottom: -4px;
	border-bottom: 4px solid #ccc;
}

ul.navbar-nav > li.hover-box-shadow:hover {
	box-shadow: inset 0 0 10px #ccc;
}


.navbar.box-shadow {
	/* -webkit-box-shadow: 0px 3px 5px 0px #ccc; */
	/* -moz-box-shadow: 0px 3px 5px 0px #ccc; */
	box-shadow: 0px 2px 10px 0px #ccc;
}

.label-list.label-list-name {
	display: inline-block;
	font-size: 100%;
	padding: 1px 6px 2px 0px;
	border-right: 1px solid #777;
	margin: 0px 2px 0px 0px;
}

.label.label-list {
	/* margin-top: -1px; */
	padding: 1px 6px 2px;
	font-weight: normal;
	font-size: 100%;
}

.schedule-item-last-contents > div {
	margin-right: 5px;
}
